## Exercise 1: Print First 10 natural numbers using while loop

In [6]:
num = 1
while num < 11:
    print(num)
    num = num + 1

1
2
3
4
5
6
7
8
9
10

## Exercise 2: Print pattern

In [61]:
n = 5
for x in range(1,n+1):
    # print('This is x')
    for y in range(1,x+1):
        print(x, end=' ')
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

## Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [17]:
user_input = int(input('Enter a number:\n'))
print(sum(range(0, user_input+1)))

Enter a number:
10
55

In [62]:
"""
user_input = int(input('Enter a number:\n'))
print('\n')
for num in range(0, user_input+1):
    print(num)
# print(output)
"""

"\nuser_input = int(input('Enter a number:\n'))\nprint('\n')\nfor num in range(0, user_input+1):\n    print(num)\n# print(output)\n"

## Exercise 4: Write a program to print multiplication table of a given number

In [27]:
num = int(input('Enter a number:\n'))
for n in range(1,11):
    print(num * n)

Enter a number:
2
2
4
6
8
10
12
14
16
18
20

## Exercise 5: Display numbers from a list using loop

In [86]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for num in numbers:
    if num % 5 == 0 and num <= 150:
        print(num)
    elif num > 500:
        break

75
150
145

## Exercise 6: Count the total number of digits in a number
### Write a program to count the total number of digits in a number using a while loop

In [88]:
num = input('Enter number:\n')
print(len(num))

Enter number:
7848757
7

## Exercise 7: Print reverse pattern

In [125]:
x = 5
for i in range(x, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print('')

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [106]:
x = 6
for i in range(x, 0,-1):
    print(i)

6
5
4
3
2
1

## Exercise 8: Print list in reverse order using a loop

In [99]:
list1 = [10, 20, 30, 40, 50]
list1.reverse()

for i in list1:
    print(i)

50
40
30
20
10

## Exercise 9: Display numbers from -10 to -1 using for loop

In [107]:
for x in range(-10, 0):
    print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

## Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [109]:
for i in range(7):
    print(i)
print('Done!')

0
1
2
3
4
5
6
Done!

## Exercise 11: Write a program to display all prime numbers within a range

In [195]:
range_begins = 25
range_ends = 50

for num in range(range_begins, range_ends+1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

29
31
37
41
43
47

## Exercise 12: Display Fibonacci series up to 10 terms

In [145]:
a = 0
b = 1
print(a,b)
print('\n')
for i in range(10):
    c = a + b
    a = b
    b = c
    print(c)

0 1


1
2
3
5
8
13
21
34
55
89

## Exercise 13: Find the factorial of a given number
#### For example: calculate the factorial of 5

In [163]:
numb = int(input('Enter a number: '))
print('\n')
factorial = 1
for i in range(1, numb+1):
    factorial = factorial *i
print(factorial)

Enter a number: 10


3628800

## Exercise 14: Reverse a given integer number
#### Given: 76542

In [186]:
x = 76542
x = str(x)
x = x[::-1]
x=int(x)
print(x)

24567

## Exercise 15: Use a loop to display elements from a given list present at odd index positions

In [206]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for ls in my_list[1::2]:
    print(ls, end=" ")

20 40 60 80 100

## Exercise 16: Calculate the cube of all numbers from 1 to a given number

In [197]:
given_number = int(input('Enter a number: \n'))

for i in range(1,given_number+1):
    print(f"The current number is: {i} and the cube is {i**3}")

Enter a number:
10
The current number is: 1 and the cube is 1
The current number is: 2 and the cube is 8
The current number is: 3 and the cube is 27
The current number is: 4 and the cube is 64
The current number is: 5 and the cube is 125
The current number is: 6 and the cube is 216
The current number is: 7 and the cube is 343
The current number is: 8 and the cube is 512
The current number is: 9 and the cube is 729
The current number is: 10 and the cube is 1000

## Exercise 17: Find the sum of the series upto n terms
#### Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [223]:
"""
n = 3
num = 2 # input('Enter a number:\n')
for x in range(0,n):
    numb = (num*10)+num
    series_sum = numb
print(series_sum)
"""

22

In [224]:
n = 5
# first number of sequence
start = 2
sum_seq = 0

# run loop n times
for i in range(0, n):
    print(start, end="+")
    sum_seq += start
    # calculate the next term
    start = start * 10 + 2
print("\nSum of above series is:", sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690

## Exercise 18: Print pattern

In [225]:
n = 5
for i in range(n):
    for j in range(i):
        print('*', end=' ')
    print('')
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print('*', end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*